<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PERMISO DE CÁMARA: Para escanear códigos QR -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- FEATURE DE CÁMARA: Le indica a Play Store que la app usa cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />  <!-- Puede instalarse en dispositivos sin cámara -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Control Académico"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlAcademico">

        <!-- LOGIN ACTIVITY — PANTALLA DE INICIO -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- No se necesitan intent-filter porque solo se abren desde dentro de la propia app -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" />

        <activity
            android:name=".ProfesorActivity"
            android:exported="false" />

        <activity
            android:name=".AlumnoActivity"
            android:exported="false" />

    </application>

</manifest>