# IDEs (Android Studio, IntelliJ, VS Code)
.idea/
*.iml
*.ipr
*.iws

# Gradle y Build
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Configuración Local (¡Muy importante!)
local.properties

# Sistema Operativo
.DS_Store
Thumbs.db
